# Enable apache modRewrite module
RewriteEngine on

# The URL prefix to be used for per-directory
RewriteBase /plugins/hybridAuthLogin/


RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite all requests to the file
RewriteRule (.*) requests.php?provider=$1 [QSA,L]
