.tmp-hidden {
    display: none !important;
}

div.table {
    display: flex;
    flex-direction: column;
}
div.table > div {
    display: flex;
    flex-direction: row;
}
div.table > div:not(:last-child) {
    margin-bottom: 5px;
}

.fields-column {
    width: 125px;
}
div.scroll {
    overflow-x: auto;
    display: flex;
    margin: 0 0 0 5px;
}
.fields-column .item {
    background: #e2e2e2;
    color: inherit;
    padding: 8px 10px 10px;
    border: 0;
}
.fields-column > div > .item:first-child {
    background: inherit;
}
.fields-column .name {
    word-break: break-word;
    width: 125px;
}
.fields-column .hover {
    background: #cdcdcd;
}

.fields-content .item {
    border-right: 1px #e2e2e2 solid;
    padding: 8px 10px 10px;
    border-bottom: 0;
    width: 175px;
    word-wrap: break-word;
    flex-shrink: 0;
}
.fields-content .table > .in:first-child > div {
    padding-top: 0;
}
.fields-content .hover {
    background: #e2e2e2;
}
.fields-content .item {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.fields-content .item.removing {
    opacity: 0;
}
.fields-content .same {
    background: #bacea8;
}
.fields-content div > div.item:last-child {
    border-right: 0;
}
.fields-content div.delete.icon {
    right: 0;
    position: absolute;
}

.compare-notice {
    max-width: 270px;
    margin-bottom: 15px;
}

.error-info {
    font-size: 0.875em;
    padding-top: 4px;
}
.error + .error-info {
    display: block;
}

.preview {
    position: relative;
    display: block;
}
.preview img {
    width: 120px;
    height: 90px;
    object-fit: cover;
    object-position: center;
}
.preview_no-picture img {
    object-fit: none;
}

div.compare-fullscreen-area {
    padding: 25px 20px;
}
div.compare-body {
    opacity: 1;
    transition: opacity 0.3s ease;
}
div.compare-body.table-hidden {
    opacity: 0;
}

.compare-results-box #compare-saved-tables + a.button {
    margin-top: 20px;
}
#compare-saved-tables > li:not(:last-child) {
    margin-bottom: 10px;
}
#compare-saved-tables > li {
    opacity: 1;
    transition: opacity 0.3s ease;
}
#compare-saved-tables > li.removing {
    opacity: 0;
}

@media screen and (max-width: 767px) {
    .fields-column,
    .compare-fullscreen {
        display: none!important;
    }
    .compare-table div.scroll {
        margin: 0;
    }

    .in.fixed {
        position: fixed;
        background: inherit;
        top: 0;
        margin-bottom: 0 !important;
        padding-bottom: 5px;
    }
    .title.in.fixed {
        position: fixed;
        top: 113px;
        box-shadow: 0px 4px 5px -3px rgba(0,0,0,.2);
    }

    .scroll .in:not(.sticky) {
        position: relative;
    }
    .scroll .in:not(.sticky) > div {
        margin-top: 22px;
    }
    .scroll .in:not(.sticky):before {
        content: attr(data-field);
        position: sticky;
        position: -webkit-sticky;
        width: 0;
        white-space: nowrap;
        left: 10px;
        padding-top: 3px;
        font-size: 0.813em;
    }

    body[dir=rtl] .scroll .in:not(.sticky):before {
        left: auto;
        right: 10px;
    }
}

body[dir=rtl] div.scroll {
    margin: 0 5px 0 0;
}
body[dir=rtl] .fields-content .item {
    border-right: 0;
    border-left: 1px #e2e2e2 solid;
}
body[dir=rtl] .fields-content div.delete.icon {
    right: auto;
    left: 0;
}
